<div class="row main-bot">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 main-col-bot">
        <a href="">
          <h1>THƯ VIỆN VIDEO</h1>
        </a>
        <div class="video-home" >
          <iframe width="100%" height="280" src="https://www.youtube.com/embed/4F7k36u7G6M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <h2>Để người dân hài lòng với dịch vụ quốc gia- Phóng sự truyền hình Nhân Dân</h2>

        </div>
      </div>

      <div class="col-sm-6 main-col-bot">

        <div class="mua-sam">
          <h1>MUA SẮM TRỰC TUYẾN</h1>

            <p>
              Hiện tại chúng tôi có những gian hàng mua sắm online với đầy đủ những sản phẩm tiện ích, đa dạng. Hy vọng sẽ đem đến cho quý khách hàng những trải nghiệm mua sắm mới mẻ nhất. Hãy đến với hệ thống mua sắm trực tuyến của chúng tôi để tìm cho mình những sản phẩm thiết thực nhất.
            </p>
          <div class="row">
            <div class="col-sm-4 img-tructuyen">
              <a href="https://postmart.vn/" >
                <img src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fImages%2fPostmart+thumb.jpg&amp;size=2&amp;ver=27"  alt="Postmart thumb" style="width: 100%;height: 120px">
                <h3>
                  Sàn thương mại điện tử Postmart
                </h3>
              </a>
            </div>

            <div class="col-sm-4 img-tructuyen">
              <a href="http://lichbuudien.vn/" >
                <img src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fLich+2019+(4).png&amp;size=2&amp;ver=30"  alt="Lich 2019 (4)" style="width: 100%;height: 120px">
                <h3>
                  Lịch Tết
                </h3>
              </a>
            </div>

            <div class="col-sm-4 img-tructuyen">
              <a href="http://datapost.vn" >
                <img src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fDataPost+(2).jpg&amp;size=2&amp;ver=29"  alt="DataPost (2)" style="width: 100%;height: 120px">
                <h3>
                  Dịch vụ DATAPOST
                </h3>
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
