

.carousel-caption{
  position: absolute;
  top: 60%;
}
.carousel-caption h1,h2,h3{
  font-size: 300% !important;
  //text-transform: uppercase;
  text-shadow: 2px 2px 30px #000000;
}
li{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 6px;
}

