<div class="container-fluid" style="background: #ececec">
  <div class="container pt-1 pb-1">
    <div class="menuTop row">
      <div class="menuTopLeft pl-4"><span>Đường dây nóng hỗ trợ <b>1900 54 54 81</b></span></div>
      <div class="menuTopRight">
        <ul>
          <li class="form-inline search pl-1">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Tìm kiếm">
          </li>
          <li>
            <div class="quoc-ky">
              <img src="https://github.com/lephongtit/anh_VnPost/blob/master/viet-nam.png?raw=true"style="height: 18px;width: 27px">
            </div>
            <div class="quoc-ky">
              <img src="https://github.com/lephongtit/anh_VnPost/blob/master/my.png?raw=true" style="height: 18px;width: 27px">
            </div>
          </li>
          <li><a href="" routerLink="login">Login</a></li>
          <li><a href="">Liên hệ</a></li>
          <li><a href="">Hỏi đáp</a></li>
          <li><a href="">Giới thiệu</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <app-menu-mid></app-menu-mid>
</div>

