<div class="row footer-mid">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12 footer-col">
        <h2><b>Bưu chính chuyển phát</b></h2>
        <ul>
          <li>
            <a href=""  class="ellipsisTitle">
              <span>Bưu chính chuyển phát Trong nước</span>
            </a>
          </li>
          <li>
            <a href=""  class="ellipsisTitle">
              <span>Bưu chính chuyển phát Quốc tế</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 footer-col">
        <h2><b>Tài chính bưu chính</b></h2>
        <ul>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Bảo hiểm nhân thọ PTI</span>
            </a>
          </li>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Thu hộ - chi hộ</span>
            </a>
          </li>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Đại lí Bảo hiểm nhân thọ(Dai-ichi)</span>
            </a>
          </li>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Đại lý ngân hàng</span>
            </a>
          </li>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Dịch vụ chuyển tiền trong nước</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 footer-col">
        <h2><b>Phân phối - truyền thông</b></h2>
        <ul>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Sàn thương mại điện tử POSTMART</span>
            </a>
          </li>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Truyền thông, quảng cáo</span>
            </a>
          </li>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Phân phối xuất bản ấn phẩm</span>
            </a>
          </li>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Dịch vụ viễn thông CNTT</span>
            </a>
          </li>

          <li>
            <a href=""  class="ellipsisTitle">
              <span>Dịch vụ phân phối hàng hóa</span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
