<div class="row main-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 main-col">
        <a href="">
          <img src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fDichVu%2f02+-+Buu+dien+Viet+Nam+-+Product.png&amp;size=3&amp;ver=5">
          <h2  class="ellipsisTitle">
            Bưu  chính chuyển phát
          </h2>
        </a>
        <img class="thanh-ngang" src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd/img/line-service.png" alt="None">
        <ul>
          <li>
            <a href="" class="ellipsisTitle">
              <span  title="Bưu chính chuyển phát Trong nước">Bưu chính chuyển phát Trong nước</span>
            </a>
          </li>

          <li>
            <a href="" class="ellipsisTitle">
              <span title="Bưu chính chuyển phát Quốc tế">Bưu chính chuyển phát Quốc tế</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="col-sm-4 main-col">
        <a href="http://www.vnpost.vn/dich-vu/nhom/id/104/key/tai-chinh-buu-chinh" id="dnn_ctr636_View_uc_rptMainCategory_linkMainItem_1">
          <img  src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fDichVu%2fA022_C056_0106MU.0000339-edit.png&amp;size=3&amp;ver=5">
          <h2 class="ellipsisTitle">
            Tài chính bưu chính
          </h2>
        </a>
        <img class="thanh-ngang" src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd/img/line-service.png" alt="None">
        <ul>
          <li>
            <a href="" class="ellipsisTitle">
              <span title="Bảo hiểm phi nhân thọ PTI">Bảo hiểm phi nhân thọ PTI</span>
            </a>
          </li>

          <li>
            <a href="" class="ellipsisTitle">
              <span title="Thu hộ - Chi hộ">Thu hộ - Chi hộ</span>
            </a>
          </li>

          <li>
            <a href=""  class="ellipsisTitle">
              <span title="Đại lý Bảo hiểm nhân thọ (Dai-ichi)">Đại lý Bảo hiểm nhân thọ (Dai-ichi)</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="col-sm-4 main-col">
        <a href="">
          <img  src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fDichVu%2f02+-+Buu+dien+Viet+Nam+(5)-+Product.png&amp;size=3&amp;ver=6">
          <h2  class="ellipsisTitle">
            Phân phối - Truyền thông
          </h2>
        </a>

        <img class="thanh-ngang" src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd/img/line-service.png" alt="None">
        <ul>

          <li>
            <a href="" class="ellipsisTitle">
              <span title="Sàn thương mại điện tử POSTMART">Sàn thương mại điện tử POSTMART</span>
            </a>
          </li>

          <li>
            <a href="" class="ellipsisTitle">
              <span>Truyền thông, quảng cáo</span>
            </a>
          </li>

          <li>
            <a href="" class="ellipsisTitle">
              <span id="dnn_ctr636_View_uc_rptMainCategory_rptService_2_ltrSubItemName_2" title="Phân phối xuất bản ấn phẩm">Phân phối xuất bản ấn phẩm</span>
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>
</div>
