<h4>CHUYÊN TRANG</h4>
<div class="left" style="border-radius: 5px; background: #f7f7f7; border: 1px solid #ddd">

  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/banner%20logo/Recycle.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Nói không với rác thải nhựa</b>
      <p style="font-size: 11px; color: #868686">Bưu điện Việt Nam Vì một cuộc sống xanh</p>
    </div>
  </div>

  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn//Portals/0/newspaper.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Tổng hợp báo chí</b>
      <p style="font-size: 11px; color: #868686">Tổng hợp báo chí với ngành bưu điện</p>
    </div>
  </div>

  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn//Portals/0/quan-ly-chat-luong.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Quản lý chất lượng</b>
      <p style="font-size: 11px; color: #868686">Văn bản quản lý chất lượng nghiệp vụ</p>
    </div>
  </div>

  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/stamp.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Tem bưu chính</b>
      <p style="font-size: 11px; color: #868686">Văn bản quản lý tem bưu chính</p>
    </div>
  </div>

  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/thi-dua-khen-thuong.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Thi đua - khen thưởng</b>
      <p style="font-size: 11px; color: #868686">Tổng hợp thông tin thi đua khen thưởng</p>
    </div>
  </div>

  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/QuangCao/training.png" alt="" style="border-radius: 50%; background: #faa61a;width: 34px;height:34px">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Đào tạo</b>
      <p style="font-size: 11px; color: #868686">Chương trình đào tạo cho nhân viên</p>
    </div>
  </div>

  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/folder.png" alt="" style="border-radius: 50%; background: #faa61a">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Văn bản pháp lý</b>
      <p style="font-size: 11px; color: #868686">Văn bản pháp lý và các thông tin liên quan</p>
    </div>
  </div>

  <div class="row m-1 " style="border-bottom: 1px solid #dcdcdc">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/Images/Celebrate.png" alt="" style="border-radius: 50%; background: #faa61a;width: 34px;height:34px">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Các hoạt động kỉ niệm</b>
      <p style="font-size: 11px; color: #868686">Hoạt động của kỉ niệm Bưu điện Việt Nam</p>
    </div>
  </div>

  <div class="row m-1 ">
    <div class="col-2 mt-2">
      <img src="http://www.vnpost.vn/Portals/0/QuangCao/list-top.png" alt="" style="border-radius: 50%; background: #faa61a; ">
    </div>
    <div class="col-9 mt-1" >
      <b style="font-size: 14px;">Thông tin doanh nghiệp</b>
      <p style="font-size: 11px; color: #868686">Chuyên trang thông tin doanh nghiệp</p>
    </div>
  </div>

</div>
