<h4>TIN TỨC</h4>
<div class="row">

  <div class="col-5">
    <div class="row">
      <img
        src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fTT+Hue-giam+cuoc+HCC+2.jpg&size=3&ver=9"
        alt="" width="100%">
    </div>
    <div class="row mt-1"><b style="font-size: 12px">
      Bưu điện tỉnh Thanh Hóa ra quân phát triển khách hàng tham gia BHXH, BHYT tự nguyện</b></div>
    <div class="row mt-1" style="font-size: 12px; color:#BABABA;">
      19/02/2020
    </div>
    <div class="row mt-1" style="font-size: 11px; ">
      Để hoàn thành mục tiêu phát triển đối tượng tham gia BHXH, BHYT tự nguyện năm 2020 đạt 28.000
      đối tượng với số tiền thu trên 250 tỷ đồng, sáng 19/02/2020, các đơn vị trực thuộc Bưu...
    </div>
  </div>

  <div class="col-7">
    <div class="row mt-1">
      <div class="col-4">
        <img
          src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fIMG_9904.JPG&size=3&ver=2"
          width="100%" alt="">
      </div>
      <div class="col-8" style="font-size: 11px; ">
        <div class="row">
          <b>Nhân viên Bưu điện sẽ được cấp chứng chỉ hành chính công</b>
          <div class="" style="font-size: 12px; color:#BABABA;">
            19/02/2020
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-4">
        <img
          src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fTH+ra+quan+3.jpg&size=3&ver=2"
          width="100%" alt="">
      </div>
      <div class="col-8" style="font-size: 11px; ">
        <div class="row">
          <b>Bưu điện tỉnh Thanh Hóa ra quân phát triển khách hàng tham gia BHXH, BHYT tự nguyện</b>
          <div class="" style="font-size: 12px; color:#BABABA;">
            19/02/2020
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-1">
      <div class="col-4">
        <img
          src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fTT+Hue-giam+cuoc+HCC+2.jpg&size=3&ver=9"
          width="100%" alt="">
      </div>
      <div class="col-8" style="font-size: 11px; ">
        <div class="row">
          <b>Thừa Thiên Huế: giảm 50% phí nhận hồ sơ và chuyển trả kết quả giải quyết thủ tục hành chính</b>
          <div class="" style="font-size: 12px; color:#BABABA;">
            19/02/2020
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-4">
        <img
          src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fSB2957-40.jpg&size=3&ver=2"
          width="100%" alt="">
      </div>
      <div class="col-8" style="font-size: 11px; ">
        <div class="row">
          <b>Hậu Giang: Nhiều người tham gia BHXH tự nguyện sau khi được tuyên truyền, vận động</b>
          <div class="" style="font-size: 12px; color:#BABABA;">
            20/02/2020
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-4">
        <img
          src="http://www.vnpost.vn/ImageCaching.ashx?file=%2fPortals%2f0%2fanh+tin+tuc%2f2020-1%2fThang+2%2fChuyen+tien+t%e1%ba%a1i+buu+dien.jpg&size=3&ver=8"
          width="100%" alt="">
      </div>
      <div class="col-8" style="font-size: 11px; ">
        <div class="row">
          <b>Quy định về dịch vụ thanh toán không qua tài khoản thanh toán của khách hàng</b>
          <div class="" style="font-size: 12px; color:#BABABA;">
            20/02/2020
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
