<div class="row footer">
  <div class="container">

    <div class="row">
      <div class="col-md-7 col-sm-7 footer-info" >
        <b class="copyright">
          Tổng công ty bưu điện việt nam - VIETNAM POST
        </b>
        <span>Địa chỉ: Số 05 đường Phạm Hùng - Mỹ Đình 2 - Nam Từ Liêm - Hà Nội - Việt Nam</span>
        <span>Ghi rõ nguồn "www.vnpost.vn" khi phát hành lại thông tin từ website này</span>
      </div>

      <div class="col-cols-md-4 col-sm-4">
        <ul class="social-footer list-unstyled list-inline pull-right">
          <li><a href="https://www.facebook.com/vnpost.vn" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://twitter.com/buudienvietnam" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/in/tt-dvkh-529b25197/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
          </li>

          <li><a href="/desktopmodules/vnp_webapi/rssfeed.aspx" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
