.footer {
  background: #144e8c;
  color: #fff;
  font-size: 12px;
  padding: 15px 0;
}
span,a {
  color: #FFF;
  display: block;
  font-family: 'Roboto-Bold';
  font-size: 11px;

}
ul li{
  float: left;
}
span b{
  margin: 4px;
}
i{
  font-size: 30px;
  margin: 5px;
  padding-top: 5px;
}
i:hover{
  color: #f7a81b;
}






